<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    our index
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptate quos magnam delectus vel aut numquam expedita? 
        Magnam, animi, ea et neque rem optio nesciunt, itaque enim exercitationem assumenda doloremque.
    </p>
</body>
</html>