<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Atque culpa magnam consequatur doloremque esse expedita quos nam velit error sunt, cumque necessitatibus
            iste neque labore.
            Rerum facere sequi reprehenderit incidunt?</p>
    </div>
</body>

</html>